openapi: 3.1.0
info:
  title: ZenLedger Compliance Suite API
  version: v3
  description: 'REST surface of the ZenLedger Compliance Suite — the digital-asset trade-monitoring and crypto tax-compliance
    API financial institutions and enterprises use to register companies and users, import exchange accounts and
    wallets, read normalized transactions and holdings, screen wallet addresses against sanctions lists, and look
    up the supported currencies, sources and chains.


    DERIVED, NOT PUBLISHED BY THE PROVIDER. ZenLedger publishes no OpenAPI. This document was mechanically derived
    by API Evangelist from the first-party Postman collection "V3::Compliance Suite: REST API Reference", published
    by ZenLedger at https://docs.zenledger.io/compliance/v3/compliance_api.postman_collection.json and saved verbatim
    in this repo at postman/zenledger-compliance-v3.postman_collection.json. Every path, method, header, documented
    parameter, example request body and example response below is carried over from that collection; nothing was
    invented. Request/response schemas are typed as generic objects because the collection carries examples, not
    schemas. Each operation records its original collection URL template in x-postman-request.'
  contact:
    name: ZenLedger
    url: https://zenledger.io/contact-us/
    email: support@zenledger.io
  termsOfService: https://zenledger.io/legal/
  x-generated-by: API Evangelist enrichment pipeline (derived from the provider-published Postman collection)
  x-source: postman/zenledger-compliance-v3.postman_collection.json
  x-source-url: https://docs.zenledger.io/compliance/v3/compliance_api.postman_collection.json
servers:
- url: https://api.zenledger.io
  description: ZenLedger production API host. The published collection resolves {{base_url}} to https://api.zenledger.io
    in every saved example response.
tags:
- name: Authentication
  description: OAuth 2.0 client_credentials token issuance.
- name: Companies
  description: Enterprise tenants registered under the Compliance Suite account.
- name: Users
  description: End users tracked under a company.
- name: Transactions
  description: Normalized crypto transactions for a user or across a company.
- name: Holdings
  description: Per-source balances and import state for a user or company.
- name: Polymarkets
  description: Polymarket prediction-market positions.
- name: Imports
  description: Wallet and exchange-account import (signed and encrypted).
- name: Wallet Screening
  description: Sanctions and risk screening for a blockchain address.
- name: Supported Currencies
  description: Currency reference data.
- name: Supported Exchanges and Wallets
  description: Supported exchange/wallet source reference data.
- name: Supported Chains
  description: Supported blockchain reference data.
paths:
  /oauth/token:
    post:
      operationId: jwtRequest
      summary: JWT request
      description: "The server response can vary based on the validity of the provided POST body:\n\n- **Success\
        \ (HTTP status 200):**\n    - **Headers:** The response includes various headers such as `Content-Type`,\
        \ `Cache-Control`, `Expires`, and more.\n    - **Body:** The response body is a JSON object containing the\
        \ `access_token`, `token_type`, `expires_in`, and `scope` fields. The `access_token` is the JWT that should\
        \ be included in the `Authorization` header for subsequent API requests.\n- **Unauthorized (HTTP status\
        \ 401):**\n    - **Headers:** The response includes various headers such as `Content-Type`, `Cache-Control`,\
        \ `Expires`, and more.\n    - **Body:** The response body is a JSON object containing the `error` and `error_description`\
        \ fields, indicating an invalid client or failed authentication.\n- **Bad Request (HTTP status 400):**\n\
        \    - **Headers:** The response includes various headers such as `Content-Type`, `Cache-Control`, `Expires`,\
        \ and more.\n    - **Body:** The response body is a JSON object containing the `error` and `error_description`\
        \ fields, indicating an invalid request."
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              client_id: '{{oauth_client_id}}'
              client_secret: '{{oauth_client_secret}}'
              grant_type: client_credentials
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                JWT_request_success:
                  value:
                    access_token: access_token
                    token_type: Bearer
                    expires_in: 1800
                    scope: public
                    created_at: 1686752196
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                JWT_request_invalid_client:
                  value:
                    error: invalid_client
                    error_description: Client authentication failed due to unknown client, no client authentication
                      included, or unsupported authentication method.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                JWT_request_invalid_request:
                  value:
                    error: invalid_request
                    error_description: 'Missing required parameter: grant_type.'
      security: []
      x-postman-request: '{{base_url}}/oauth/token'
  /compliance/api/v3/companies:
    get:
      operationId: getCompanies
      summary: GET companies
      description: '### GET **/companies**


        **Returns** a list of all active companies that exist in the system by making a GET request to the path
        `/compliance/api/v3/companies` on the base URL.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        ### Request


        ##### QUERY PARAMETERS


        > NONE


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_companies_success:
                  value:
                    api_version: '3.0'
                    data:
                    - reference: tu7vS9DL6gLqrAwMikRJ
                      name: A Company
                      created_at: '2023-06-01T17:13:01.087Z'
                      updated_at: '2023-06-01T17:13:01.087Z'
                    - reference: FSOLPzrHGKiiZinvKOrn
                      name: Another Company
                      created_at: '2023-06-01T17:31:35.194Z'
                      updated_at: '2023-06-01T17:31:35.194Z'
                    - reference: c5KqB1RoKMOmuc15Mz9B
                      name: New name of company
                      created_at: '2023-06-01T17:33:05.828Z'
                      updated_at: '2023-06-01T19:44:58.498Z'
                    - reference: 1RoKc155KqBMz9BMOmu
                      name: Company Name
                      created_at: '2023-06-02T07:48:44.305Z'
                      updated_at: '2023-06-02T07:48:44.305Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_companies_unauthorized:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                    - code: ZENCS-AUTHGET-AA2
                      message: Unauthorised
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies'
    post:
      operationId: createCompany
      summary: CREATE company
      description: "### POST **/companies**\n\nAll API requests to this endpoint must be **signed and encrypted**\
        \ to ensure integrity and security. The signing process is explained in the **Request Signature and Encryption**\
        \ section and ensures that the request is authenticated and has not been tampered with. Encryption protects\
        \ sensitive data during transmission.\n\n**Creates** a new company which is linked to the enterprise by\
        \ making a POST request to the `/compliance/api/v3/companies/` endpoint is used to create a new company\
        \ in the system.\n\nThis endpoint requires authentication via a bearer token, provided in the Authorisation\
        \ header of the request.\n\n### Request\n\n##### QUERY PARAMETERS\n\n> NONE\n\n##### BODY\n\n*In JSON format\n\
        \n> **name** (optional) `string` Legal name of the company\n> \n> **reference** `string` Own company reference\n\
        > \n> **import_notification_url** (optional) `string` if set, Webhook notifications will be sent here after\
        \ each import completed. For security reasons, this value will never be returned by the API.\n> \n> **domain_target_url**\
        \ (optional) `string` This parameter is required for proper functioning of the Iframe integration. When\
        \ importing accounts via Iframe, the integration uses postMessage to communicate with the parent window.\
        \ This attribute should be set to the domain where the parent application (the Iframe container) is hosted\
        \ — for example, [https://app.partnerdomain.com](https://app.partnerdomain.com). It ensures messages are\
        \ correctly delivered and received between the Iframe and its parent.\n> \n> Alternatively, the value \"\
        default\" can be used. In that case, the domain will be set to the parent enterprise’s default_url, if defined,\
        \ at the time the request is received by ZenLedger.\n> \n> *   For security reasons, this value will never\
        \ be returned in API responses.\n\n##### RESPONSE `200`\n\n##### RESPONSE DATA\n\n> **api_version** `string`\
        \ Version of the targeted API\n> \n> **data** `string` Wrapper for response data (See response example)"
      tags:
      - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Company Name
              reference: '{{company_reference}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                CREATE_company_success:
                  value:
                    api_version: '3.0'
                    data:
                      reference: tu7vS9DL6gLqrAwMikRJ
                      name: Company Name
                      created_at: '2023-06-02T07:48:44.305Z'
                      updated_at: '2023-06-02T07:48:44.305Z'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
              examples:
                CREATE_company_duplicate_id:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPPST-AA2
                      message: Duplicated External ID for company
                CREATE_company_reference_not_allowed:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPPST-AA1
                      message: Could not add company
                CREATE_company_active_companies_limit_reached:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPPST-AA3
                      message: Maximum number of active companies limit exceeded
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/'
  /compliance/api/v3/companies/{company_reference}:
    get:
      operationId: getCompany
      summary: GET company
      description: '### GET **/companies/**{companyReference}


        **Returns** the details of the requested company by making a GET request to the path `/compliance/api/v3/companies/{company_reference}`
        on the base URL


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        ### Request


        ##### QUERY PARAMETERS


        > NONE


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Companies
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: Path variable company_reference (from the Postman collection URL template).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_company_success:
                  value:
                    api_version: '3.0'
                    data:
                      reference: c155KqBMz9Bc155KqBMz9B
                      name: company name
                      created_at: '2023-05-31T08:14:43.332Z'
                      updated_at: '2023-05-31T08:14:43.332Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_company_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}'
    delete:
      operationId: deleteCompany
      summary: DELETE company
      description: '### DELETE **/companies/**{companyReference}


        **Deletes** a company which is linked to the enterprise by making a DELETE request to the `/compliance/api/v3/companies/{company_reference}`
        endpoint.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        ### Request


        ##### QUERY PARAMETERS


        > NONE


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Companies
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: Path variable company_reference (from the Postman collection URL template).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                DELETE_company_success:
                  value:
                    api_version: '3.0'
                    data: []
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                DELETE_company_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}'
    put:
      operationId: updateCompanyDetails
      summary: UPDATE company details
      description: "### PUT **/companies**\n\nAll API requests to this endpoint must be **signed and encrypted**\
        \ to ensure integrity and security. The signing process is explained in the **Request Signature and Encryption**\
        \ section and ensures that the request is authenticated and has not been tampered with. Encryption protects\
        \ sensitive data during transmission.\n\n**Updates** the details of a company by making a PUT request to\
        \ the path `/compliance/api/v3/companies/{company_reference}` on the base URL\n\nThis endpoint requires\
        \ authentication via a bearer token, provided in the Authorisation header of the request.\n\n### Request\n\
        \n##### QUERY PARAMETERS\n\n> NONE\n\n##### BODY\n\n*In JSON format\n\n> **name** (optional) `string` Legal\
        \ name of the company\n> \n> **import_notification_url** (optional) `string` if set, Webhook notifications\
        \ will be sent here after each import completed\n\n##### RESPONSE `200`\n\n##### RESPONSE DATA\n\n> **api_version**\
        \ `string` Version of the targeted API\n> \n> **data** `string` Wrapper for response data (See response\
        \ example)"
      tags:
      - Companies
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: Path variable company_reference (from the Postman collection URL template).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: New Company Name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                UPDATE_company_details_success:
                  value:
                    api_version: '3.0'
                    data:
                      reference: Company Reference
                      name: New Company Name
                      created_at: '2023-06-01T12:30:24.409Z'
                      updated_at: '2023-06-01T12:45:13.749Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                UPDATE_company_details_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}'
  /compliance/api/v3/companies/{company_reference}/users:
    get:
      operationId: getCompanyUsers
      summary: GET company users
      description: '### GET **/companies/{companyReference}/users**


        **Returns** a list of all active users that exist in the system for a specific company by making a GET request
        to the path `/companies/{company_reference}/users` on the base URL.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        ### Request


        ##### URi PARAMETERS


        > **companyReference** `string` The ID of a specific company


        ##### QUERY PARAMETERS


        > NONE


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Users
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_company_users_success:
                  value:
                    api_version: '3.0'
                    data:
                      users:
                      - id: 9f3ebcde-0d2c-4f8d-a5e8-e76b918372e4
                        first_name: firstcompany4-name
                        last_name: firstcompany4-namelast
                        email: user@firstcompany4.com
                        created_at: '2023-06-01T12:59:46.223Z'
                        updated_at: '2023-06-01T12:59:46.223Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_company_users_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users'
    post:
      operationId: createCompanyUser
      summary: CREATE company user
      description: "### POST **/companies/{companyReference}/users**\n\nAll API requests to this endpoint must be\
        \ **signed and encrypted** to ensure integrity and security. The signing process is explained in the **Request\
        \ Signature and Encryption** section and ensures that the request is authenticated and has not been tampered\
        \ with. Encryption protects sensitive data during transmission.\n\n**Creates** a new company user which\
        \ is linked to the company by making a POST request to the `/compliance/api/v3/companies/{company_reference}/users`\
        \ endpoint is used to create a new user in the system.\n\nThis endpoint requires authentication via a bearer\
        \ token, provided in the Authorisation header of the request.\n\n### Request\n\n##### URi PARAMETERS\n\n\
        > **companyReference** `string` The ID of a specific company\n\n##### QUERY PARAMETERS\n\n> NONE\n\n#####\
        \ BODY\n\n*In JSON format\n\n> **email** `string` Email address of the user\n> \n> **first_name** (optional)\
        \ `string` First name of the user\n> \n> **last_name** (optional) `string` Last name of the user\n\n#####\
        \ RESPONSE `200`\n\n##### RESPONSE DATA\n\n> **api_version** `string` Version of the targeted API\n> \n\
        > **data** `string` Wrapper for response data (See response example)"
      tags:
      - Users
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              email: johndoe@example.com
              first_name: John
              last_name: Doe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                CREATE_company_user_success:
                  value:
                    api_version: '3.0'
                    data:
                      id: 9f3ebcde-0d2c-4f8d-a5e8-e76b918372e4
                      first_name: John
                      last_name: Doe
                      email: johndoe@example.com
                      created_at: '2023-07-04T07:23:49.810Z'
                      updated_at: '2023-07-04T07:23:49.810Z'
                CREATE_company_user_active_users_limit_reached:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-USRPST-AA8
                      message: Maximum number of active users limit exceeded
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users'
  /compliance/api/v3/companies/{company_reference}/users/{user_id}:
    get:
      operationId: getCompanyUser
      summary: GET company user
      description: '### GET **/companies/{companyReference}/users/{userId}**


        **Returns** the details of a specific user by making a GET request to the path `/companies/{company_reference}/users/{user_id}`
        on the base URL.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        ### Request


        ##### URi PARAMETERS


        > **companyReference** `string` The ID of a specific company


        > **userId** `string` The ID of a specific user


        ##### QUERY PARAMETERS


        > NONE


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Users
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_company_users_success:
                  value:
                    api_version: '3.0'
                    data:
                      users:
                      - id: 9f3ebcde-0d2c-4f8d-a5e8-e76b918372e4
                        first_name: firstcompany4-name
                        last_name: firstcompany4-namelast
                        email: user@firstcompany4.com
                        created_at: '2023-06-01T12:59:46.223Z'
                        updated_at: '2023-06-01T12:59:46.223Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_company_users_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users/{{user_id}}'
    put:
      operationId: updateUserDetails
      summary: UPDATE user details
      description: "### UPDATE **/companies/{companyId}/users/{userId}**\n\nAll API requests to this endpoint must\
        \ be **signed and encrypted** to ensure integrity and security. The signing process is explained in the\
        \ **Request Signature and Encryption** section and ensures that the request is authenticated and has not\
        \ been tampered with. Encryption protects sensitive data during transmission.\n\n**Updates** the details\
        \ of a user by making a PUT request to the path `/compliance/api/v3/companies/{company_reference}/users/{user_id}`\
        \ on the base URL\n\n**User Activation/Deactivation:**\n\nIf the boolean parameter **active** is passed\
        \ in the body as *false*, the user will be deactivated, transactional data will no longer be pulled by ZenLedger\
        \ and no data will be delivered by this API until the user is re-activated.\n\n> Pass the parameter **active**\
        \ as *false* to deactivate  \n> Pass the parameter **active** as *true* to re-activate\n\nThis endpoint\
        \ requires authentication via a bearer token, provided in the Authorisation header of the request.\n\n###\
        \ Request\n\n##### URi PARAMETERS\n\n> **companyReference** `string` The ID of a specific company\n\n> **userId**\
        \ `string` The ID of a specific user\n\n##### QUERY PARAMETERS\n\n> NONE\n\n##### BODY\n\n*In JSON format\n\
        \n> **email** (optional) `string` Email address of the user\n> \n> **first_name** (optional) `string` First\
        \ name of the user\n> \n> **last_name** (optional) `string` Last name of the user\n> \n> **active** (optional)\
        \ `boolean` Activate/Deactivate a user if passed\n\n##### RESPONSE `200`\n\n##### RESPONSE DATA\n\n> **api_version**\
        \ `string` Version of the targeted API\n> \n> **data** `string` Wrapper for response data (See response\
        \ example)"
      tags:
      - Users
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              first_name: user 1 of referenced company
              last_name: user 1 of referenced company
              email: user@firstcompany2.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                UPDATE_user_details_success:
                  value:
                    api_version: '3.0'
                    data:
                      id: 9f3ebcde-0d2c-4f8d-a5e8-e76b918372e4
                      first_name: user 1 of referenced company
                      last_name: user 1 of referenced company
                      email: user@firstcompany2.com
                      created_at: '2023-06-01T12:59:46.223Z'
                      updated_at: '2023-06-01T13:08:15.608Z'
                      active: 'true'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                UPDATE_user_details_user_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-USRGET-AA2
                      message: Could not find user
                UPDATE_user_details_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
                UPDATE_user_details_active_users_limit_reached:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-USRPST-AA8
                      message: Maximum number of active users limit exceeded
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users/{{user_id}}'
    delete:
      operationId: deleteCompanyUser
      summary: DELETE company user
      description: '### DELETE **/companies/{companyReference}/users/{userId}**


        **Deletes** a user which is linked to the company by making a DELETE request to the `/compliance/api/v3/companies/{company_reference}/users/{user_id}`
        endpoint.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        ### Request


        ##### URi PARAMETERS


        > **companyReference** `string` The ID of a specific company


        > **userId** `string` The ID of a specific user


        ##### QUERY PARAMETERS


        > NONE


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Users
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                DELETE_company_user_success:
                  value:
                    api_version: '3.0'
                    data: []
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                DELETE_company_user_user_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-USRGET-AA2
                      message: Could not find user
                DELETE_company_user_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users/{{user_id}}'
  /compliance/api/v3/companies/{company_reference}/users/{user_id}/transactions:
    get:
      operationId: getTransactionsForUser
      summary: GET transactions for user
      description: "### GET **/companies/{companyReference}/users/{userId}/transactions**\n\n**Returns** a list\
        \ of the user's transactions by making a GET request to the path `/companies/{company_reference}/users/{user_id}/transactions`\
        \ on the base URL.\n\nThis endpoint requires authentication via a bearer token, provided in the Authorisation\
        \ header of the request.\n\n> *Results paginated with 100 elements per page\n\n### Request\n\n##### URi\
        \ PARAMETERS\n\n> **companyReference** `string` The ID of a specific company\n> \n> **userId** `string`\
        \ The ID of a specific user\n\n##### QUERY PARAMETERS\n\n> **currency_code** `string` Filter transactions\
        \ by currency code\n> \n> **date_from** `string` Specific cut-off date for the transactions list (beginning\
        \ of the list) specific for the date when the transactions were imported into ZenLedger\n> \n> **date_to**\
        \ `string` Specific cut-off date for the transactions list (end of the list) specific for the date when\
        \ the transactions were imported into ZenLedger\n> \n> **transaction_date_from** `string` Specific cut-off\
        \ date for the transactions list (beginning of the list) specific for the date when the transactions took\
        \ place\n> \n> **transaction_date_to** `string` Specific cut-off date for the transactions list (end of\
        \ the list) specific for the date when the transactions took place\n> \n> **source_id** `number` Specific\
        \ source to show only transactions from a specific wallet/exchange\n> \n> **sorting_method** `string` Sorting\
        \ method used to order the returned list of transactions. This can be set to **transaction_timestamps**\
        \ or **import_timestamp**. If not set, the default sorting date will be the transaction date.\n> \n> **page**\
        \ `number` Specific page requested for the paginated results\n\n##### RESPONSE `200`\n\n##### RESPONSE DATA\n\
        \n> **api_version** `string` Version of the targeted API\n> \n> **data** `string` Wrapper for response data\
        \ (See response example)"
      tags:
      - Transactions
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific user
      - name: currency_code
        in: query
        required: false
        schema:
          type: string
        description: Filter transactions by currency code
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (beginning of the list) specific for the date
          when the transactions were imported into ZenLedger
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (end of the list) specific for the date when
          the transactions were imported into ZenLedger
      - name: transaction_date_from
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (beginning of the list) specific for the date
          when the transactions took place
      - name: transaction_date_to
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (end of the list) specific for the date when
          the transactions took place
      - name: source_id
        in: query
        required: false
        schema:
          type: number
        description: Specific source to show only transactions from a specific wallet/exchange
      - name: sorting_method
        in: query
        required: false
        schema:
          type: string
        description: Sorting method used to order the returned list of transactions. This can be set to **transaction_timestamps**
          or **import_timestamp**. If not set, the default sorting date will be the transaction date.
      - name: page
        in: query
        required: false
        schema:
          type: number
        description: Specific page requested for the paginated results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_transactions_for_user_success:
                  value:
                    api_version: '3.0'
                    data:
                      transactions:
                      - reference: fd8592122083e87d7d3aafdc8acce4c1
                        import_timestamp: '2026-01-09T13:23:19Z'
                        transaction_timestamp: '2025-12-25T11:31:36Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 4eb1Fuh2F1Csg1HmRNTy8QKT41c9WdLnVSo5sTct8vViZXoTZcuf84JfjsG8dg8PBY5dnNeqAw4rZV4sD7Mko9zQ
                        amount_incoming: 0.0006088244047619051
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 4eb1Fuh2F1Csg1HmRNTy8QKT41c9WdLnVSo5sTct8vViZXoTZcuf84JfjsG8dg8PBY5dnNeqAw4rZV4sD7Mko9zQ
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                      - reference: ff0b41eacc027fc94e8229bf2e1a5eaa
                        import_timestamp: '2026-01-09T13:23:11Z'
                        transaction_timestamp: '2025-12-25T11:31:37Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 2PwDAFr4aWrJW926WosRHbJBnzodme6vPTMjPsjDTzJUtKfCWnKpgWd3oveSFhHCRUp4Pzgw5YnSBtqZa2Mqp1Bt
                        amount_incoming: 0.0006088244047619051
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 2PwDAFr4aWrJW926WosRHbJBnzodme6vPTMjPsjDTzJUtKfCWnKpgWd3oveSFhHCRUp4Pzgw5YnSBtqZa2Mqp1Bt
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                      - reference: e03caa7f6756ff61171b4b45bf58c5ed
                        import_timestamp: '2026-01-09T13:23:11Z'
                        transaction_timestamp: '2025-12-25T11:31:47Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 3EGVXeWd5Hgt7wdYUWTGH62bKf9aDcBaCwUTmwqupce2ivfy4JFRfAkjNPqv1bwHozUhpCeVkkexDAgiT3jRXBCy
                        amount_incoming: 0.0006088244047619051
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 3EGVXeWd5Hgt7wdYUWTGH62bKf9aDcBaCwUTmwqupce2ivfy4JFRfAkjNPqv1bwHozUhpCeVkkexDAgiT3jRXBCy
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                      - reference: df401174d759930db9ea3fb1f97f33b4
                        import_timestamp: '2026-01-09T13:23:11Z'
                        transaction_timestamp: '2025-12-25T11:31:47Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 21yqa7B3NVFy9rscQVwhvUNhC2RYwj6zXDn8YPD4tvdP9r8qhADdbdJ5xssq8Fpw2Nh7WaAuv7ja35Dct2V4zT9v
                        amount_incoming: 0.0006088244047619051
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 21yqa7B3NVFy9rscQVwhvUNhC2RYwj6zXDn8YPD4tvdP9r8qhADdbdJ5xssq8Fpw2Nh7WaAuv7ja35Dct2V4zT9v
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                      - reference: 4de3bc14ad28e802c0f484dc3594fed4
                        import_timestamp: '2026-01-09T13:23:11Z'
                        transaction_timestamp: '2025-12-25T11:31:49Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 2y4UUDjjJhFNoLy9RP4yNjQuUp3ednPY7amrjPWNwvD1W7gDyr2LqJDgtAkKhnBVNWZjQXoBLBo7QT9GU776BAhL
                        amount_incoming: 0.0006088244047619051
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 2y4UUDjjJhFNoLy9RP4yNjQuUp3ednPY7amrjPWNwvD1W7gDyr2LqJDgtAkKhnBVNWZjQXoBLBo7QT9GU776BAhL
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                    meta:
                      current_page: 1
                      total_entries: 5
                      total_pages: 1
                GET_transactions_for_user_empty_response:
                  value:
                    api_version: '3.0'
                    data:
                      transactions: []
                    meta:
                      current_page: 1
                      total_entries: 0
                      total_pages: 0
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_transactions_for_user_user_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-USRGET-AA2
                      message: Could not find user
                GET_transactions_for_user_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users/{{user_id}}/transactions'
  /compliance/api/v3/companies/{company_reference}/transactions:
    get:
      operationId: getTransactionsForAllUserOfACompany
      summary: GET transactions for all user of a company
      description: "### GET **/companies/{companyReference}/transactions**\n\n**Returns** a list of all the users\
        \ of a company with all their transactions by making a GET request to the path `/companies/{company_reference}/transactions`\
        \ on the base URL.\n\nThis endpoint requires authentication via a bearer token, provided in the Authorisation\
        \ header of the request.\n\n> *Results paginated with 100 elements per page\n\n### Request\n\n##### URi\
        \ PARAMETERS\n\n> **companyReference** `string` The ID of a specific company\n\n##### QUERY PARAMETERS\n\
        \n> **currency_code** `string` Filter transactions by currency code\n> \n> **date_from** `string` Specific\
        \ cut-off date for the transactions list (beginning of the list) specific for the date when the transactions\
        \ were imported into ZenLedger\n> \n> **date_to** `string` Specific cut-off date for the transactions list\
        \ (end of the list) specific for the date when the transactions were imported into ZenLedger\n> \n> **transaction_date_from**\
        \ `string` Specific cut-off date for the transactions list (beginning of the list) specific for the date\
        \ when the transactions took place\n> \n> **transaction_date_to** `string` Specific cut-off date for the\
        \ transactions list (end of the list) specific for the date when the transactions took place\n> \n> **source_id**\
        \ `number` Specific source to show only transactions from a specific wallet/exchange\n> \n> **sorting_method**\
        \ `string` Sorting method used to order the returned list of transactions. This can be set to **transaction_timestamps**\
        \ or **import_timestamp**. If not set, the default sorting date will be the transaction date.\n> \n> **page**\
        \ `number` Specific page requested for the paginated results\n\n##### RESPONSE `200`\n\n##### RESPONSE DATA\n\
        \n> **api_version** `string` Version of the targeted API\n> \n> **data** `string` Wrapper for response data\
        \ (See response example)"
      tags:
      - Transactions
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: page
        in: query
        required: false
        schema:
          type: number
        description: Specific page requested for the paginated results
        example: '30'
      - name: currency_code
        in: query
        required: false
        schema:
          type: string
        description: Filter transactions by currency code
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (beginning of the list) specific for the date
          when the transactions were imported into ZenLedger
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (end of the list) specific for the date when
          the transactions were imported into ZenLedger
      - name: transaction_date_from
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (beginning of the list) specific for the date
          when the transactions took place
      - name: transaction_date_to
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (end of the list) specific for the date when
          the transactions took place
      - name: source_id
        in: query
        required: false
        schema:
          type: number
        description: Specific source to show only transactions from a specific wallet/exchange
      - name: sorting_method
        in: query
        required: false
        schema:
          type: string
        description: Sorting method used to order the returned list of transactions. This can be set to **transaction_timestamps**
          or **import_timestamp**. If not set, the default sorting date will be the transaction date.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_transactions_for_all_user_of_a_company_success:
                  value:
                    api_version: '3.0'
                    data:
                      transactions:
                      - reference: 643e2e8d95fe5018093a467fd1c293cc
                        import_timestamp: '2026-01-09T13:24:13Z'
                        transaction_timestamp: '2025-12-25T09:56:24Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 2UzNWFvee8n52hiv2q6VFC5XCKSJoCWgE1fbYCbmmcYBYJuTqKDoYkPiBrWjVuFaRb4yqGExoYdPC7wcVEVAvnhC
                        amount_incoming: 0.00061017445652174
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 2UzNWFvee8n52hiv2q6VFC5XCKSJoCWgE1fbYCbmmcYBYJuTqKDoYkPiBrWjVuFaRb4yqGExoYdPC7wcVEVAvnhC
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                        user_id: 57f96bf7-3062-4a2c-8940-63926c8ee5fb
                      - reference: 0601597997f2e0b4c5faa0491d2b6825
                        import_timestamp: '2026-01-09T13:24:32Z'
                        transaction_timestamp: '2025-12-25T09:56:25Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: Ca2L9bf72es4pCsdnyjcZRajWbEwZS4oaFQH5c5DjF58U7K4ZtGDqU2sYpa8LMN43GS3mhi6gP2kBbtBXfgvhBe
                        amount_incoming: 0.00061017445652174
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: Ca2L9bf72es4pCsdnyjcZRajWbEwZS4oaFQH5c5DjF58U7K4ZtGDqU2sYpa8LMN43GS3mhi6gP2kBbtBXfgvhBe
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                        user_id: 57f96bf7-3062-4a2c-8940-63926c8ee5fb
                      - reference: 1404aa5ffddd768ec52f504460989a67
                        import_timestamp: '2026-01-09T13:24:32Z'
                        transaction_timestamp: '2025-12-25T09:56:25Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 5QAd8UVsv18dsVhDzWcsChZT7uSeEkp9sduC8mosYunLQd8cWAykh6yFqW4cfP6HNqhFRTkX5WFNzUN7PzEZqt9m
                        amount_incoming: 0.00061017445652174
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 5QAd8UVsv18dsVhDzWcsChZT7uSeEkp9sduC8mosYunLQd8cWAykh6yFqW4cfP6HNqhFRTkX5WFNzUN7PzEZqt9m
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                        user_id: 57f96bf7-3062-4a2c-8940-63926c8ee5fb
                      - reference: 91aec8f39288565b58b29ef42fcb619b
                        import_timestamp: '2026-01-09T13:24:02Z'
                        transaction_timestamp: '2025-12-25T09:56:26Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 4EcNH9Kp7kX8rbZngrR8QHFcgjUto8pvwjkNtuhwjPczXcnjMZMbtnGmS9Ke9VfYu5y5UNiBtXbremFoHY1dLzPC
                        amount_incoming: 0.00061017445652174
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 4EcNH9Kp7kX8rbZngrR8QHFcgjUto8pvwjkNtuhwjPczXcnjMZMbtnGmS9Ke9VfYu5y5UNiBtXbremFoHY1dLzPC
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                        user_id: 57f96bf7-3062-4a2c-8940-63926c8ee5fb
                      - reference: cabb8f4a67e7b36b61f275e5e4ad331f
                        import_timestamp: '2026-01-09T13:24:02Z'
                        transaction_timestamp: '2025-12-25T09:56:26Z'
                        transaction_super_type: sell
                        transaction_type: fee
                        transaction_hash: 44JevPUgtoiHMiXHCFZm9sUSqirf1x4QWdTw1PnLP43wSCUvLmPXTkAo6objMzWLgqYuJFfEhAbgtPG9XAh6JvLE
                        amount_incoming: 0.00061017445652174
                        currency_incoming: USD
                        currency_incoming_contract_address: 7wxahljatdzbaz7hyrifpypgppbckiyhf6haxuzsbonk
                        currency_incoming_is_spam: false
                        amount_outgoing: 5.0e-06
                        currency_outgoing: SOL
                        currency_outgoing_contract_address: null
                        currency_outgoing_is_spam: false
                        fee_amount: 0.0
                        fee_currency: USD
                        source_name: SOL Wallet
                        source_id: 95721263-a907-4cbe-8ad9-9c6e337d94cb
                        source_reference: sol-wallet
                        transaction_id: 44JevPUgtoiHMiXHCFZm9sUSqirf1x4QWdTw1PnLP43wSCUvLmPXTkAo6objMzWLgqYuJFfEhAbgtPG9XAh6JvLE
                        subtotal_fiat: 0.0
                        total_fiat: 0.0
                        address_from: null
                        address_to: null
                        chain_info:
                        - id: null
                          name: Solana
                        user_id: 57f96bf7-3062-4a2c-8940-63926c8ee5fb
                    meta:
                      current_page: 1
                      total_entries: 6
                      total_pages: 1
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_transactions_for_all_user_of_a_company_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/transactions?page=30'
  /compliance/api/v3/companies/{company_reference}/users/{user_id}/holdings:
    get:
      operationId: getHoldingsForUser
      summary: GET holdings for user
      description: '### GET **/companies/{companyReference}/users/{userId}/holdings**


        **Returns** a list of the user holdings by making a GET request to the path `/companies/{company_reference}/users/{user_id}/holdings`
        on the base URL.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        > *Results paginated with 20 elements per page


        ### Request


        ##### URi PARAMETERS


        > **companyReference** `string` The ID of a specific company

        >

        > **userId** `string` The ID of a specific user


        ##### QUERY PARAMETERS


        > **currency_code** `string` Filter transactions by currency code

        >

        > **date_from** `string` Specific cut-off date for the transactions list (beginning of the list)

        >

        > **date_to** `string` Specific cut-off date for the transactions list (end of the list)

        >

        > **page** `number` Specific page requested for the paginated results


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Holdings
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific user
      - name: currency_code
        in: query
        required: false
        schema:
          type: string
        description: Filter transactions by currency code
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (beginning of the list)
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: Specific cut-off date for the transactions list (end of the list)
      - name: page
        in: query
        required: false
        schema:
          type: number
        description: Specific page requested for the paginated results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_holdings_for_user_success:
                  value:
                    api_version: '3.0'
                    data:
                    - holdings:
                      - source_id: 06a31f82-cea0-4b04-8562-c895712abc3d
                        source_type: wallet
                        source_name: ETH Wallet
                        source_reference: eth-wallet
                        last_updated: '2025-04-02T13:29:07.371Z'
                        import_status: COMPLETE
                        last_imported_transaction:
                          reference: cba084fa1e1fae97bab9bff8fc6905af
                          timestamp: '2020-09-17T12:06:47Z'
                          imported_at: '2025-04-02T13:28:20.436Z'
                        address: '0x61a9927dAc6B9D833FD1C81377B1D4bc21577CF5'
                        assets:
                        - currency_reference: null
                          currency_name: Uniswap V1
                          currency_symbol: UNI-V1
                          currency_price: 0.0
                          balance: '0.0'
                          staked_balance: '0.0'
                          available_balance: '0.0'
                          total_fiat: '0.0'
                          contract_address: '0xaaaf91d9b90df800df4f55c205fd6989c977e73a'
                          is_spam: false
                        - currency_reference: null
                          currency_name: BAT
                          currency_symbol: BAT
                          currency_price: 0.0
                          balance: '0.0'
                          staked_balance: '0.0'
                          available_balance: '0.0'
                          total_fiat: '0.0'
                          contract_address: '0xaaaf91d9b90df800df4f55c205fd6989c977e73a'
                          is_spam: false
                        chain_info:
                        - id: 1
                          name: Ethereum Mainnet
                      - source_id: c00a581c-196b-42a9-be65-36a841a0bf59
                        source_type: exchange
                        source_name: Coinbase
                        source_reference: coinbase
                        last_updated: '2025-04-02T14:58:41.139Z'
                        import_status: COMPLETE
                        last_imported_transaction:
                          reference: 638d89f14a4002183984d42650fe1045
                          timestamp: '2022-08-11T08:54:06Z'
                          imported_at: '2025-04-02T14:57:26.592Z'
                        address: null
                        assets:
                        - currency_reference: null
                          currency_name: null
                          currency_symbol: GAL
                          currency_price: 0.0
                          balance: '0.0000000014041932'
                          staked_balance: '0.0'
                          available_balance: '0.0000000014041932'
                          total_fiat: '0.0'
                          contract_address: '0xaaaf91d9b90df800df4f55c205fd6989c977e73a'
                          is_spam: false
                        - currency_reference: null
                          currency_name: Ripple
                          currency_symbol: XRP
                          currency_price: 0.0
                          balance: '0.000006'
                          staked_balance: '0.0'
                          available_balance: '0.000006'
                          total_fiat: '0.0'
                          contract_address: '0xaaaf91d9b90df800df4f55c205fd6989c977e73a'
                          is_spam: false
                        - currency_reference: null
                          currency_name: null
                          currency_symbol: VET
                          currency_price: 0.0
                          balance: '44.17205026994437'
                          staked_balance: '0.0'
                          available_balance: '44.17205026994437'
                          total_fiat: '0.0'
                          contract_address: '0xaaaf91d9b90df800df4f55c205fd6989c977e73a'
                          is_spam: false
                        chain_info: []
                      - source_id: d8cb050f-1061-4d79-b1fc-fb689e00ad07
                        source_type: wallet
                        source_name: ETH Wallet
                        source_reference: eth-wallet
                        last_updated: '2025-04-02T13:29:07.462Z'
                        import_status: COMPLETE
                        last_imported_transaction:
                          reference: b2ecc7d0bfa8c644f19da826c8150a9b
                          timestamp: '2025-03-24T18:59:35Z'
                          imported_at: '2025-04-02T13:28:21.427Z'
                        address: '0x44de43d08aae5551e04ecf69abdbc860c3951375'
                        assets:
                        - currency_reference: null
                          currency_name: blazedether.org
                          currency_symbol: CLAIM REWARDS ON BLAZEDETHER.ORG-0-NFT
                          currency_price: 0.0
                          balance: '1.0'
                          staked_balance: '0.0'
                          available_balance: '1.0'
                          total_fiat: '0.0'
                          contract_address: '0xaaaf91d9b90df800df4f55c205fd6989c977e73a'
                          is_spam: false
                        - currency_reference: null
                          currency_name: Ethereum
                          currency_symbol: ETH
                          currency_price: 0.0
                          balance: '0.000104131384938'
                          staked_balance: '0.0'
                          available_balance: '0.000104131384938'
                          total_fiat: '0.0'
                          contract_address: null
                          is_spam: false
                        chain_info:
                        - id: 1
                          name: Ethereum Mainnet
                      - source_id: 2a575ad1-bc7f-4f58-a736-c9fcddfc6fe9
                        source_type: wallet
                        source_name: BTC Wallet
                        source_reference: btc-wallet
                        last_updated: '2025-04-02T13:29:21.764Z'
                        import_status: COMPLETE
                        last_imported_transaction:
                          reference: 2adbe056329a2c3640c9a8d75d96233e
                          timestamp: '2022-06-16T15:12:18Z'
                          imported_at: '2025-04-02T13:28:57.376Z'
                        address: bc1qhdk5lt5frywgkkhshm22g3zf596g25tkpahgwr
                        assets:
                        - currency_reference: null
                          currency_name: Bitcoin
                          currency_symbol: BTC
                          currency_price: 0.0
                          balance: '0.0'
                          staked_balance: '0.0'
                          available_balance: '0.0'
                          total_fiat: '0.0'
                          contract_address: null
                          is_spam: false
                        chain_info:
                        - id: null
                          name: Bitcoin
                      base_currency: USD
                GET_holdings_for_user_empty_response:
                  value:
                    api_version: '3.0'
                    data:
                      holdings: {}
                      base_currency: USD
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_holdings_for_user_user_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-USRGET-AA2
                      message: Could not find user
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users/{{user_id}}/holdings'
  /compliance/api/v3/companies/{company_reference}/users/{user_id}/holdings/{source_id}:
    get:
      operationId: getHoldingsForUserBySource
      summary: GET holdings for user by source
      description: '### GET **/companies/{companyReference}/users/{userId}/holdings/{sourceId}**


        **Returns** the holdings of a specific source of a user by making a GET request to the path `/companies/{company_reference}/users/{user_id}/holdings/{source_id}`
        on the base URL.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        ### Request


        ##### URi PARAMETERS


        > **companyReference** `string` The ID of a specific company

        >

        > **userId** `string` The ID of a specific user

        >

        > **sourceId** `string` The ID of a specific source


        ##### QUERY PARAMETERS


        > NONE


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Holdings
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific user
      - name: source_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific source
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_holdings_for_user_by_source_success:
                  value:
                    api_version: '3.0'
                    data:
                    - holdings:
                      - source_id: face6831-bfbb-4ac5-8d85-ffe74169a970
                        source_type: wallet
                        source_name: ETH Wallet
                        source_reference: eth-wallet
                        last_updated: '2025-07-08T10:36:44.814Z'
                        import_status: COMPLETE
                        last_imported_transaction:
                          reference: 18bcd0e672eee1c9b8705292ccf0c236
                          timestamp: '2025-04-01T03:52:11Z'
                          imported_at: '2025-07-08T10:36:23.724Z'
                        address: '0x511aef977fe6626b8b6900984b41fdd6b367ab21'
                        assets:
                        - currency_reference: null
                          currency_name: Ethereum
                          currency_symbol: ETH
                          currency_price: 0.0
                          balance: '0.1175013886223704'
                          staked_balance: '0.0'
                          available_balance: '0.1175013886223704'
                          total_fiat: '0.0'
                          contract_address: null
                          is_spam: false
                        - currency_reference: null
                          currency_name: null
                          currency_symbol: SPIO
                          currency_price: 0.0
                          balance: '15.37657042863076'
                          staked_balance: '0.0'
                          available_balance: '15.37657042863076'
                          total_fiat: '0.0'
                          contract_address: '0x3c03b4ec9477809072ff9cc9292c9b25d4a8e6c6'
                          is_spam: false
                        - currency_reference: null
                          currency_name: PolkaCover
                          currency_symbol: CVR
                          currency_price: 0.0
                          balance: '1127.165049460295'
                          staked_balance: '0.0'
                          available_balance: '1127.165049460295'
                          total_fiat: '0.0'
                          contract_address: '0x3c03b4ec9477809072ff9cc9292c9b25d4a8e6c6'
                          is_spam: false
                        - currency_reference: null
                          currency_name: Collateral
                          currency_symbol: COLL
                          currency_price: 0.0
                          balance: '1230.705649017336'
                          staked_balance: '0.0'
                          available_balance: '1230.705649017336'
                          total_fiat: '0.0'
                          contract_address: '0x957891c11616d3e0b0a76a76fb42724c382e0ef3'
                          is_spam: false
                        chain_info:
                        - id: 1
                          name: Ethereum - (ERC-20, ERC-721, ERC-1155)
                      base_currency: USD
                GET_holdings_for_user_by_source_empty_response:
                  value:
                    api_version: '3.0'
                    data:
                      holdings: {}
                      base_currency: USD
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_holdings_for_user_by_source_user_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-USRGET-AA2
                      message: Could not find user
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users/{{user_id}}/holdings/{{source_id}}'
    delete:
      operationId: deleteUserSource
      summary: DELETE user source
      description: '### DELETE **/companies/{companyReference}/users/{userId}/holdings/{sourceId}**


        **Deletes** a user''s source along with its transactions by making a DELETE request to the `/compliance/api/v3/companies/{company_reference}/users/{user_id}/holdings/{source_id}`
        endpoint.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        ### Request


        ##### URi PARAMETERS


        > **companyReference** `string` The ID of a specific company


        > **userId** `string` The ID of a specific user


        > **sourceId** `string` The ID of a specific source


        ##### QUERY PARAMETERS


        > NONE


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Holdings
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific user
      - name: source_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific source
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                DELETE_user_source_success:
                  value:
                    api_version: '3.0'
                    data: []
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                DELETE_user_source_user_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-USRGET-AA2
                      message: Could not find user
                DELETE_user_source_source_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-PARAMGET-AA3
                      message: Provided source not found
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/users/{{user_id}}/holdings/{{source_id}}'
  /compliance/api/v3/companies/{company_reference}/holdings:
    get:
      operationId: getHoldingsForAllUsersOfACompany
      summary: GET holdings for all users of a company
      description: '### GET **/companies/{companyReference}/holdings**


        **Returns** a list of all the users of a company with all their holdings by making a GET request to the
        path `/companies/{company_reference}/holdings` on the base URL.


        This endpoint requires authentication via a bearer token, provided in the Authorisation header of the request.


        > *Results paginated with 20 elements per page


        ### Request


        ##### URi PARAMETERS


        > **companyReference** `string` The ID of a specific company


        ##### QUERY PARAMETERS


        > **page** `number` Specific page requested for the paginated results


        ##### RESPONSE `200`


        ##### RESPONSE DATA


        > **api_version** `string` Version of the targeted API

        >

        > **data** `string` Wrapper for response data (See response example)'
      tags:
      - Holdings
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: page
        in: query
        required: false
        schema:
          type: number
        description: Specific page requested for the paginated results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_holdings_for_all_users_of_a_company_success:
                  value:
                    api_version: '3.0'
                    data:
                    - users:
                      - id: 7c039416-6c83-41e3-b6d0-d244b8f3d529
                        holdings: []
                        base_currency: USD
                      - id: d2b9816f-1e14-4596-a6af-fde38cf36005
                        holdings:
                        - source_id: 85715a6e-ac84-4005-ad7b-b37bf97bd06b
                          source_type: exchange
                          source_name: Bit2Me
                          source_reference: bit2me
                          last_updated: '2025-03-25T12:46:27.686Z'
                          import_status: COMPLETE
                          last_imported_transaction:
                            reference: 9918d0cbc2d941ceffe852e9bf1dad89
                            timestamp: '2024-10-09T11:22:05Z'
                            imported_at: '2025-03-25T12:46:24.318Z'
                          address: null
                          assets:
                          - currency_reference: null
                            currency_name: Cardano
                            currency_symbol: ADA
                            currency_price: 0.0
                            balance: '0.0'
                            staked_balance: '0.0'
                            available_balance: '0.0'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          - currency_reference: null
                            currency_name: null
                            currency_symbol: SOL
                            currency_price: 0.0
                            balance: '0.0005'
                            staked_balance: '0.0'
                            available_balance: '0.0005'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          - currency_reference: null
                            currency_name: OmiseGO
                            currency_symbol: OMG
                            currency_price: 0.0
                            balance: '0.0'
                            staked_balance: '0.0'
                            available_balance: '0.0'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          - currency_reference: null
                            currency_name: null
                            currency_symbol: GNO
                            currency_price: 0.0
                            balance: '0.0'
                            staked_balance: '0.0'
                            available_balance: '0.0'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          chain_info: []
                        base_currency: USD
                      - id: 83b9c1ee-9df5-48e0-ac46-5ceec42a8a76
                        holdings:
                        - source_id: 4275df10-c89a-4001-b842-c45e910b7166
                          source_type: exchange
                          source_name: Coinbase
                          source_reference: coinbase
                          last_updated: '2025-06-23T15:11:00.312Z'
                          import_status: COMPLETE
                          last_imported_transaction:
                            reference: b306d4eed2dea90e0a52f6224e9a9eae
                            timestamp: '2024-04-04T14:10:32Z'
                            imported_at: '2025-06-23T15:07:18.472Z'
                          address: null
                          assets:
                          - currency_reference: null
                            currency_name: EOS
                            currency_symbol: EOS
                            currency_price: 0.0
                            balance: '0.0'
                            staked_balance: '0.0'
                            available_balance: '0.0'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          - currency_reference: null
                            currency_name: Cardano
                            currency_symbol: ADA
                            currency_price: 0.0
                            balance: '0.010114'
                            staked_balance: '0.010114'
                            available_balance: '0.0'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          chain_info: []
                        - source_id: face6831-bfbb-4ac5-8d85-ffe74169a970
                          source_type: wallet
                          source_name: ETH Wallet
                          source_reference: eth-wallet
                          last_updated: '2025-07-08T10:36:44.814Z'
                          import_status: COMPLETE
                          last_imported_transaction:
                            reference: 18bcd0e672eee1c9b8705292ccf0c236
                            timestamp: '2025-04-01T03:52:11Z'
                            imported_at: '2025-07-08T10:36:23.724Z'
                          address: '0x511aef977fe6626b8b6900984b41fdd6b367ab21'
                          assets:
                          - currency_reference: null
                            currency_name: Ethereum
                            currency_symbol: ETH
                            currency_price: 0.0
                            balance: '0.1175013886223704'
                            staked_balance: '0.0'
                            available_balance: '0.1175013886223704'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          - currency_reference: null
                            currency_name: null
                            currency_symbol: SPIO
                            currency_price: 0.0
                            balance: '15.37657042863076'
                            staked_balance: '0.0'
                            available_balance: '15.37657042863076'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          - currency_reference: null
                            currency_name: PolkaCover
                            currency_symbol: CVR
                            currency_price: 0.0
                            balance: '1127.165049460295'
                            staked_balance: '0.0'
                            available_balance: '1127.165049460295'
                            total_fiat: '0.0'
                            contract_address: '0x3c03b4ec9477809072ff9cc9292c9b25d4a8e6c6'
                            is_spam: false
                          - currency_reference: null
                            currency_name: Collateral
                            currency_symbol: COLL
                            currency_price: 0.0
                            balance: '1230.705649017336'
                            staked_balance: '0.0'
                            available_balance: '1230.705649017336'
                            total_fiat: '0.0'
                            contract_address: '0x957891c11616d3e0b0a76a76fb42724c382e0ef3'
                            is_spam: false
                          - currency_reference: null
                            currency_name: https://unimex.network/
                            currency_symbol: UMX
                            currency_price: 0.0
                            balance: '0.0'
                            staked_balance: '0.0'
                            available_balance: '0.0'
                            total_fiat: '0.0'
                            contract_address: '0x10be9a8dae441d276a5027936c3aaded2d82bc15'
                            is_spam: false
                          - currency_reference: null
                            currency_name: PolkastarterToken
                            currency_symbol: POLS
                            currency_price: 0.0
                            balance: '157.5396924253004'
                            staked_balance: '0.0'
                            available_balance: '157.5396924253004'
                            total_fiat: '0.0'
                            contract_address: '0x83e6f1e41cdd28eaceb20cb649155049fac3d5aa'
                            is_spam: false
                          - currency_reference: null
                            currency_name: null
                            currency_symbol: LUNA
                            currency_price: 0.0
                            balance: '53.17595661355401'
                            staked_balance: '0.0'
                            available_balance: '53.17595661355401'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          - currency_reference: null
                            currency_name: SpiderDAO Token
                            currency_symbol: SPDR
                            currency_price: 0.0
                            balance: '2256.656181068939'
                            staked_balance: '0.0'
                            available_balance: '2256.656181068939'
                            total_fiat: '0.0'
                            contract_address: '0xbcd4b7de6fde81025f74426d43165a5b0d790fdd'
                            is_spam: true
                          - currency_reference: null
                            currency_name: Uniswap V2
                            currency_symbol: UNI-V2--1
                            currency_price: 0.0
                            balance: '16.15954062297383'
                            staked_balance: '0.0'
                            available_balance: '16.15954062297383'
                            total_fiat: '0.0'
                            contract_address: '0xffa98a091331df4600f87c9164cd27e8a5cd2405'
                            is_spam: false
                          - currency_reference: null
                            currency_name: Propy
                            currency_symbol: PRO
                            currency_price: 0.0
                            balance: '806.74259421'
                            staked_balance: '0.0'
                            available_balance: '806.74259421'
                            total_fiat: '0.0'
                            contract_address: '0x226bb599a12c826476e3a771454697ea52e9e220'
                            is_spam: true
                          - currency_reference: null
                            currency_name: Aragon Network Token
                            currency_symbol: ANT
                            currency_price: 0.0
                            balance: '151.11'
                            staked_balance: '0.0'
                            available_balance: '151.11'
                            total_fiat: '0.0'
                            contract_address: '0xa117000000f279d81a1d3cc75430faa017fa5a2e'
                            is_spam: false
                          - currency_reference: null
                            currency_name: SPI Club
                            currency_symbol: SPIC
                            currency_price: 0.0
                            balance: '15.37657042863076'
                            staked_balance: '0.0'
                            available_balance: '15.37657042863076'
                            total_fiat: '0.0'
                            contract_address: '0xc15122898c3ee73211d8a8a4a656ba1980d53086'
                            is_spam: true
                          chain_info:
                          - id: 1
                            name: Ethereum - (ERC-20, ERC-721, ERC-1155)
                        - source_id: 812a3dd1-8df5-4b06-843b-05d6e9ae8f26
                          source_type: wallet
                          source_name: BTC Wallet
                          source_reference: btc-wallet
                          last_updated: '2025-06-13T15:28:49.749Z'
                          import_status: COMPLETE
                          last_imported_transaction:
                            reference: 4001fe6ffce4962298802be896b835e2
                            timestamp: '2020-11-23T06:19:46Z'
                            imported_at: '2025-06-13T15:28:44.707Z'
                          address: bc1qeevcq77dyrk0gc5qs0v59arzmthj3ermd4elu8
                          assets:
                          - currency_reference: null
                            currency_name: Bitcoin
                            currency_symbol: BTC
                            currency_price: 0.0
                            balance: '0.0'
                            staked_balance: '0.0'
                            available_balance: '0.0'
                            total_fiat: '0.0'
                            contract_address: null
                            is_spam: false
                          chain_info:
                          - id: null
                            name: Bitcoin
                        base_currency: USD
                    meta:
                      current_page: 1
                      total_entries: 3
                      total_pages: 1
                GET_holdings_for_all_users_of_a_company_empty_response:
                  value:
                    api_version: '3.0'
                    data:
                      holdings: {}
                      base_currency: USD
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_holdings_for_all_users_of_a_company_company_not_found:
                  value:
                    api_version: '3.0'
                    data: []
                    errors:
                      code: ZENCS-CMPGET-AA3
                      message: Could not find company
      security:
      - bearerAuth: []
      x-postman-request: '{{base_url}}/compliance/api/v3/companies/{{company_reference}}/holdings'
  /compliance/api/v3/companies/{company_reference}/holdings/{source_id}/resync:
    get:
      operationId: getResyncSource
      summary: GET resync source
      description: "### GET **/companies/{companyReference}/holdings/{sourceId}/resync**\n\n**Returns** a 200 response\
        \ when the source re-sync has been started successfully by making a GET request to the path `/companies/{company_reference}/holdings/{source_id}/resync`\
        \ on the base URL.\n\nThis endpoint requires authentication via a bearer token, provided in the Authorisation\
        \ header of the request.\n\n### Request\n\n##### URi PARAMETERS\n\n> **companyReference** `string` The ID\
        \ of a specific company  \n> **sourceId** `string` The ID of a specific source\n\n##### QUERY PARAMETERS\n\
        \n> NONE\n\n##### RESPONSE `200`\n\n##### RESPONSE DATA\n\n> **api_version** `string` Version of the targeted\
        \ API\n> \n> **data** `string` Wrapper for response data (See response example)"
      tags:
      - Holdings
      parameters:
      - name: company_reference
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific company
      - name: source_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of a specific source
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                GET_resync_source_success:
                  value:
                    api_version: '3.0'
                    data:
                    - message: Source 18831c28-9b97-4bd6-9a83-38ce426feb5e Re-Sync Started
[...]
